.container {
  width: 100%;
  padding: 0 100px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --mainColor: #f57224;
  --whiteColor: #fff;
  --blackColor: #000;
  --lightDark: #222;
}

body {
  font-family: "lato", sans-serif;
}
.not-found {
  display: grid;
  place-items: center;
  height: 100vh;
}
.not-found > h2 {
  font-size: 35px;
  font-weight: 600;
}
.empty {
  padding: 10px 20px;
}

/* media query */


